In [1]:
import pandas as pd

In [2]:
file_path = './PreExperimentData.csv'
df = pd.read_csv(file_path)

In [3]:
df = df.iloc[4:]
df = df.iloc[:, 2:]

In [4]:
new_columns = { df.columns[i]: f'Q{i}' for i in range(18)}

In [5]:
df = df.rename(columns = new_columns)

In [6]:
df.head()

,Q0,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Participant number:
4,Sometimes,Sometimes,Rarely,Often,Sometimes,Often,Sometimes,Often,Sometimes,Rarely,Never,Never,Sometimes,Very Often,Never,Rarely,Rarely,Never,1
5,Sometimes,Often,Rarely,Rarely,Often,Sometimes,Very Often,Often,Never,Sometimes,Sometimes,Sometimes,Sometimes,Very Often,Very Often,Often,Often,Sometimes,2
6,Never,Never,Never,Sometimes,Sometimes,Never,Never,Never,Rarely,Rarely,Rarely,Never,Rarely,Rarely,Rarely,Never,Never,Never,3
7,Sometimes,Rarely,Sometimes,Very Often,Sometimes,Sometimes,Rarely,Often,Rarely,Sometimes,Often,Never,Sometimes,Very Often,Rarely,Sometimes,Never,Rarely,4
8,Rarely,Rarely,Rarely,Sometimes,Sometimes,Rarely,Never,Rarely,Rarely,Sometimes,Sometimes,Never,Rarely,Often,Often,Very Often,Sometimes,Rarely,5

In [7]:
response_mapping_one = {
    'Never': 0,
    'Rarely': 0,
    'Sometimes': 1,
    'Often': 1,
    'Very Often': 1
}

response_mapping_two = {
    'Never': 0,
    'Rarely': 0,
    'Sometimes': 0,
    'Often': 1,
    'Very Often': 1
}


def calculate_adhd_score(row):
    score = 0
    for q in ['Q0', 'Q1', 'Q2']:
        score += response_mapping_one[row[q]]
    for q in ['Q3', 'Q4', 'Q5']:
         score += response_mapping_two[row[q]]     
    return score

In [8]:
df['Part_A_Score'] = df.apply(calculate_adhd_score, axis=1)
df['ADHD_Indication'] = df['Part_A_Score'] >= 4

In [15]:
def calculate_percentage(df):       
    adhd_percentage = (df['ADHD_Indication'].sum() / len(df)) * 100
    return round(adhd_percentage,2)

In [17]:
print(f"Possible ADHD: {calculate_percentage(df)}%")

Possible ADHD: 38.46%